@import "./variables";
.hero {
  display: flex;
  flex-direction: column;
  padding: 0 3em 3em 3em;

  @media (min-width: $tablet-size) {
    flex-direction: row;
  }

  h2 {
    text-align: center;

    @media (min-width: $tablet-size) {
      text-align: left;
    }
  }

  p {
    font-weight: 300;
    line-height: 1.5;
  }

  &__video-box {
    @media (min-width: $tablet-size) {
      width: 40%;
    }

    height: 300px;
  }
  @media (min-width: $tablet-size) {
    &__info {
      width: 60%;
      padding-right: 2em;
    }
  }
}