@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$green: #659caf;
$white: #ffffff;
$black: #000000;


$tablet-size: 768px;

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.top {
  background: rgba($green,1);
  background: linear-gradient(90deg, rgba($green,1) 0%, rgba($white,1) 100%);
}

h1 {
  color: $white;
  margin: 0;
  padding: 1em 0 0 0;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;

  &__menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    list-style: none;
    padding: 0;
    text-decoration: none;
    width: 100%;


    &-a {
      color: $black;
      cursor: pointer;
      text-decoration: none;
    }

    &-li {
      transition: .3s ease-in-out opacity;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.hero {
  padding: 0 3em 3em 3em;

  h2 {
    text-align: center;
  }

  p {
    font-weight: 300;
    line-height: 1.5;
  }

  &__video-box {
    height: 300px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 100%;
}

.dogs {
  h3 {
    font-size: 2em;
    text-align: center;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    max-width: 100%;
  }

  &__grid {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0 5em;
    width: 100%;

    @media (min-width: $tablet-size) {
      flex-direction: row;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    max-width: 100%;

    @media (min-width: $tablet-size) {
      width: 300px;
    }
  }

  &__figure {
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    width: 100%;
    @media (min-width: $tablet-size) {
      justify-content: space-evenly;
    }
  }

  &__figcaption {
    font-size: 16px;
    font-weight: 600;
    padding: 1.5em 1em;
    text-align: center;
  }

  &__img {
    height: fit-content;
    max-width: 100%;
  }
}